@keyframes shake
{
	0%   { transform:rotate(-3deg); }
	50%  { transform:rotate(3deg); }
	100% { transform:rotate(-3deg); }
}
@-webkit-keyframes shake
{
	0%   { -webkit-transform:rotate(-3deg); }
	50%  { -webkit-transform:rotate(3deg); }
	100% { -webkit-transform:rotate(-3deg); }
}
@-moz-keyframes shake
{
	0%   { -moz-transform:rotate(-3deg); }
	50%  { -moz-transform:rotate(3deg); }
	100% { -moz-transform:rotate(-3deg); }
}
@-o-keyframes shake
{
	0%   { -o-transform:rotate(-3deg); }
	50%  { -o-transform:rotate(3deg); }
	100% { -o-transform:rotate(-3deg); }
}

.side {
	z-index: 5;
	position: absolute;
	width: 440px; /* 624 / sqrt(2) */
	height: 440px;
	background: url("../img/side.png");
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.side.bright {
	background: none;
}

.side-top {
	top: -219px;
	left: 93px;
}

.side-bottom {
	top: 402px;
	left: 93px;
}

.side-right {
	top: 91px;
	left: 405px;
}

.side-left {
	top: 91px;
	left: -220px;
}

.brick {
	z-index: 4;
	opacity: 0.9;
	position:absolute;
	display:block;
	transition-properties: left, top;
	transition-duration: .1s;
	-webkit-transition-properties: left, top;
	-webkit-transition-duration: .1s;
	-moz-transition-properties: left, top;
	-moz-transition-duration: .1s;
	-o-transition-properties: left, top;
	-o-transition-duration: .1s;
}

#pause {
	position: absolute;
	cursor: pointer;
	font-size: 13px;
	top: 10px;
	left: 10px;
	z-index: 6;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.5);
}

#pause:hover {
	color: white;
}

#game.isometric .brick {
	opacity: 0.7;
}

#game .brick.animated {
	opacity: 1;
}

#game.isometric .brick.animated {
	-webkit-animation: none;
}

.tile {
	width: 16px;
	height: 16px;
	position: absolute;
	box-shadow: 1px -2px 20px rgba(255, 255, 255, 0.2) inset, 0px 1px 0 rgba(255, 255, 255, 0.3) inset;
	border: 1px solid rgba(0, 0, 0, 0.2);
}